---
---

@import "{{ site.theme }}";

.inner {
  max-width: 120px !important;
  width: 90% !important;
}

#container {
  width: 100% !important;
  max-width: none !important;
}

header, footer {
  width: 100% !important;
  max-width: none !important;
}

iframe {
  margin-bottom: 10px !important;
  display: block;
}